body {
    font-family: Arial;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 12px;
    text-align: center;
}

.main {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.up {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.down {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    width: 110px;
    height: 110px;
    border: 6px solid black;
    border-radius: 16px;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}
.gameFlash{
     background-color: whitesmoke;
}
.userFlash{
     background-color: #6FE6FC;
}